body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FF4500;
    color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box label {
    margin-bottom: 10px;
}

.input-box select {
    margin-bottom: 10px;
    padding: 5px;
}

.input-box button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #FF4500;
    color: #f4f4f4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-box button:hover {
    background-color: #e63946;
}

#musicosList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.musician-table {
    width: 80%;
    border-collapse: collapse;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.musician-table th,
.musician-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.musician-table th {
    background-color: #6A0DAD;
    color: white;
}

.musician-table img {
    max-width: 100px;
    height: auto;
}

.musician-table a {
    color: #FF4500;
    text-decoration: none;
}

.musician-table a:hover {
    text-decoration: underline;
}

#back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    background-color: #872400;
    color: #f4f4f4;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#back-button:hover {
    background-color: #e63946;
}
